@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu','sans-serif';
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background:-webkit-linear-gradient(left,#FAFAFA,#F2F2F2);
    width: 100%;
}

.navbar{
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    padding:0 5%;
    width: 100%;
    height: 60px;
    background-color:#ff6500;
    
}

.navbar .content {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.navbar .logo a{
    color: #fff;
    float: left;
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
    align-items: center;   
}

.navbar .menu-list{
    float: right;
    padding:0;
    margin: 0;
    display: flex;
    width: 38%;
    height: 100%;
    justify-content: space-around;

    
}

.menu-list li {
    list-style:none;
    
    
}
.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration:none;
         
}


.wrapper{
    overflow: hidden;
    max-width: 390px;
    background:#fff;
    padding:30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgb(0,0,0,0.1);
}
.wrapper .title-text{
    display:flex;
    width:200%;
}
.wrapper .title-text .title{
    width: 50%;
    font-size:35px;
    font-weight:600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);

}

.wrapper .form-container{
    width: 100%;
    overflow: hidden;
}
.form-container .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin:30px 0 10px 0;
    justify-content: space-between;
    border:1px solid lightgray;
}
.slide-controls .slide {
    height: 100%;
    width:100%;
    z-index: 1;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    transition: all 0.6s;
}
.slide-controls .signup{
    color: #000;
}
.slide-controls .slide-tab{
    position: absolute;
    height: 100%;
    width:50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    background: -webkit-linear-gradient(left,#F66D6D,#ff6500);
}
input[type="radio"]{
    display: none;
}
#signup:checked ~ .slide-tab{
    left: 50%;
}
#signup:checked ~ .signup{
    color: #fff;
}
#signup:checked ~ .login{
    color: #000;
}

.form-container .form-inner{
    display: flex;
    width: 200%;
}
.form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);

}
.form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 22px;
    font-size:17px ;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
}
.form-inner form .field input:focus{
    border-color: #ff6500;
}
.form-inner form .pass-link{
    margin-top: 5px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
    color: #ff6500;
    text-decoration:none;
}
.form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
    text-decoration: underline;
}
form .field input[type="submit"]{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    border:none;
    cursor: pointer;
    background:-webkit-linear-gradient(left,#F66D6D,#ff6500);

}

.field{
    position: relative;
}

.field .fa-user{
    position: absolute;
    top: 16px;
    left: 7px;
    color: #798180;
}
.field .fa-lock{
    position: absolute;
    top: 17px;
    left: 7px;
    color: #798180;
}